html {
    background-color: #e6e6e6 !important;
}

body {
    overflow-x: hidden;
    color: #FFF !important;
    background-color: e6e6e6 !important;
}

@font-face {
    font-family: MmrText;
    src: url(/Public/fonts/mmrtext.ttf);
}

select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color: #000000;
}

a:hover {
    text-decoration: none !important;
}

a span {
    display: none;
    position: absolute;
    color: #676EFF;
    background: #676EFF;
    padding: 5px;
}

a:hover span {
    display: inline-block;
    text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}

table tr th,
table tr td {
    padding: 10px;
}

ul#ul-class-navigation {
    right: 10px;
    line-height: 200px;
    position: absolute;
}

ul#ul-class-navigation li {
    color: white;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}

#Header {
    position: fixed;
    top: 0;
    background-color: #086972;
    width: 110%;
    margin: 0;
    height: 200px;
    z-index: 1;
    border-bottom: 4px solid #e6e6e6;
}

#Content {
    margin-top: 200px;
}

#FilterFrame {
    position: fixed;
    width: 19%;
    background-color: #086972;
    float: left;
    top: 216px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
}

#WinkelmandOverzicht {
    position: fixed;
    width: 19%;
    background-color: #086972;
    float: left;
    top: 216px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
}

#ResultsArea.Browse {
    width: 78%;
    margin-left: 21%;
    float: left;
    position: sticky;
}

#ResultsAreaWinkelmandje.Browse {

    float: left;
    position: sticky;
}

#ProductFrame {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    position: relative;
    padding: 1px;
    border-bottom: 2px solid #053d42;
}

.ImgFrame {
    width: 230px;
    height: 230px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}

.ImgFrame img {
    width: 230px;
    height: 230px;
}

#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}

.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: #053d42;
    font-size: 15px;
}

#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
}

#ArticleHeader {
    min-width: 100%;
    height: 300px;
    position: relative
}

#ImageFrame {
    width: 300px;
    height: 300px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-right: 10px;
}

.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
    color: #053d42;
    font-size: 20px;
}

#StockItemHeaderLeft {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    color: #053d42;
    font-weight: bold;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}

.CenterPriceLeft {
    position: absolute;
    height: 100%;
    right: 0;
    width: 200px;
}

.CenterPriceLeftChild {
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#StockItemDescription {
    background-color: #086972;
    width: 49%;
    float: left;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

#ViewBasket {
    background-color: #086972;
    width: 30%;
    float: right;
    padding: 200px;
    margin-top: 10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}

#StockItemSpecifications {
    border-radius: 15px;
    background-color: #086972;
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top: 10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#AanbevolenProducten {
    width: 100%;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}

.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}

.Background {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    position: absolute;
}

#LogoA {
    height: 200px;
    width: 100%;
    position: absolute;
}

#LogoImage {
    background-image: url("../ProductIMGHighRes/NerdyGadgetsLogo.png");
    width: 300px;
    height: 130px;
    margin: 55px 55px 55px 10%;
}

ul#ul-class li {
    display: inline;
    color: white;
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
    line-height: 200px;
}

ul#ul-class-price li {
    display: inline;
}

.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.HrefDecoration {
    color: #ffffff;
}

.HrefDecoration i.search {
    color: #e6e6e6;
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #ccc;
}

.TextMain {
    color: #053d42;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 10%;
}

.HomePagePrice {
    color: #0b95a2;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7%;
}

.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 55%;
    margin-top: -30%;
}

#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}

#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}

#StockGroup3 {
    width: 15%;
    height: 41.5%;
}

#StockGroup4 {
    width: 30%;
    height: 250px;
}

#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}

#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}

.StockGroups h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 25px;
}

#StockGroup2 h1 {
    bottom: 0;
}

#StockGroup1 h1 {
    bottom: 0;
}

#StockGroup5 h1 {
    bottom: 0;
}

#StockGroup6 h1 {
    bottom: 0;
}

#Wrap a {
    text-decoration: none;
    color: white;
}

#Wrap a:hover {
    color: #ccc;
    opacity: 0.9;
}

.StockItemPriceText {
    font-family: vortice-concept, sans-serif;
    color: #053d42;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

.StockItemPriceText:hover {
    text-decoration: none;
}

.StockItemID {
    font-family: pt-sans, sans-serif;
    color: #053d42;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.StockItemName {
    font-family: pt-sans, sans-serif;
    color: #053d42;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: #053d42;
    font-size: 16px;
    font-weight: bold;
}

#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#ImageCarousel {
    width: 300px;
    height: 300px;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}

.ListItem:hover {
    text-decoration: none;
}

#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}

#ProductNotFound {
    text-align: center;
    position: relative;

}

.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}

.FilterTopMargin {
    margin-top: 20px;
}

#ProductFrame h6 {
    color: #053d42;
}

#CategoriesBar {
    position: absolute;
    left: 280px;
}

#PageSelector {
    text-align: center;
    margin: 20px;
}

#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: #0fc1d1;
    padding: 15px 22px;
    border-radius: 50px;
}

.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: #053d42;
    border: 1px rgb(98, 158, 255) solid;
    color: #fff;
}

.buttonNerd {
    background-color: #053d42;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}

.popUpWinkelmand {
    display: none;
    position: absolute;
    background-color: #0c5460;
    border: 1px solid #0c5460;
    border-radius: 5px;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50rem;
}
.closeButtonWinkelmand {
    background: none;
    border: none;
    position: absolute;
    left: 97%;
    top: 1%;
    color: white;
}


/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.button-6 {
    align-items: center;
    background-clip: padding-box;
    background-color: red;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    background-color: #a70000;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #fd1d1d;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}